<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>guestbookMVC_20180403</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GuestbookController</servlet-name>
		<servlet-class>com.test.controller.GuestbookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestbookController</servlet-name>
		<url-pattern>/guestbook/*</url-pattern>
	</servlet-mapping>
	
	<!-- 로그인 컨트롤러(com.test.controller.LoginController) 등록 -->
	<!-- /login/* -->
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.test.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	
	<!-- 관리자 컨트롤러(com.test.controller.AdminController) 등록 -->
	<!-- /admin/* -->
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.test.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>	
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.test.filter.CharactorEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 로그인 필터 추가 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.test.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	
</web-app>